* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  body{
    /* background-color: aqua; */
    height: auto;
    width: 100%;
  }
  nav{
    background-color: #66AD47;
    padding: 18px 0px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
   
  }
  .three-line{
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    right: 5%;
    display: none;
}
#check{
    display: none;
}
  #navbarMonstera{
    display: flex;
    justify-content: space-around;
  }
  #navFirst{
   
  }
  #navMid{
    display: flex;
  }
  #navMid div h4{
    font-size: 20px;
    margin: 0px 30px;
  }
  #navEnd{
    display: flex;
  }
  #navEnd div{
    margin: 0px 30px;
  }

  #midWhole{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;

  }
  .left{
    width: 50%;
  }
  .right{
    width: 40%;
    height: 89vh;
  }
  #midWholePart1{
    margin-left: 100px;
  }
  #monstera{
    font-size: 80px;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  li{
    font-size: 25px;
  }
  .my{
   font-size: 25px;
   margin-top: 30px;
  }
  #midWholePart12{
    display: flex;
    width: 205px;
    margin-top: 50px;
    margin-left: 30px;
    color:#ffffff;
    border: 5px solid transparent;
    border-radius: 50px;
    background-color: #66AD47;
    padding-left: 20px;
  }
  #midWholePart121{
   display: flex;
  }
  #midWholePart122{
    margin-top: 10px;
    margin-left: 12px;
    font-weight: none;
  }
  #midWholePart13{
    display: flex;
    margin-left: 30px;
    margin-top: 80px
  }
  .midWholePart13Parts{
    display: flex;
  }
  #light{
    background-color: none;
  }
  .text{
    margin-left: 15px;
  }
  .abc{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
  }
  #midWholePart13 p{
    width: 200px;
   font-size: 13px;
  }
  #imgMain{
    width: 100%;
    height: 102%;
  }
  .second-image{
    display: none;
  }
  @media screen and (max-width:1570px) {
    /* body{
      background-color: red;
    } */
    #imgMain{
      display: none;
    }
    .second-image{
      display: inline;
      width: 100%;
      height: 80%;
      margin-top: -250px;
      margin: -280px auto 0px;
    }
   
    #midWhole{
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    #midWholePart1{
      width: 100%;
      margin: 0px auto;
      /* background-color: aqua; */
    }
    .right{
      width: 100%;
      height: auto;
    }
    #midWholePart11{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #midWholePart12{
      margin: 30px auto 0px;
     
    }
    #midWholePart13{
      margin: 20px auto 10px;
      justify-content: center;
    }
   
  }
  @media screen and (max-width:1220px) {
  
    .second-image{
      margin-top: -200px;
    }
  }
  @media screen and (max-width:870px) {
    /* body{
      background-color: red;
    } */
    .second-image{
      margin-top: -200px;
    }
    #midWholePart13{
      flex-direction: column;
      margin-left: 80px;
      margin-top: 50px;
    }
   #feeding , #light , #care {
      width: 100px;
      height: 100px;
      margin-top: 50px;
    }
    .abc{
      font-size: 40px;
      margin-left: 40px;
      margin-top: 50px;
      
    }
    .text{
      font-size: 80px;
      margin-left: 50px;
      margin-top: 10px;
    }
  }
  @media screen and (max-width:1140px) {
    
    /* body{
      background-color: aqua;
    } */
    #navMid{
      background-color: rgb(51, 248, 182);
      position: absolute;
      width: 50%;
      height: 100%;
      top: 88px;
      left: -100%;
      flex-direction: column;
      transition: 0.7s;
    }
    #navMid div h4{
      font-size: 40px;
      text-align: center;
      margin: 10px auto 30px;
      font-weight: 400;
      
    }
    #navMid div h4:hover{
      color: #66AD47;
      transform: translateY(-10px);
      transition: .6s;
      
    }
    .three-line{
      display: inline;
  }
  #check:checked ~ #navMid{
      left: 0%;
  }
    

  }